@{
    Layout = "_quizLayout";
}
@{ViewData["Title"] = "Quiz";
}
<ul class="nav nav-tabs">
    <li role="presentation"><a style= "text-decoration: none; color: inherit" asp-controller="Home" asp-action="Index">The Quote Quiz</a></li>
    <li role="presentation" class="active"><a style= "text-decoration: none; color: inherit" asp-action="TakeQuiz">Take The Quiz</a></li>
    <li role="presentation"><a a style= "text-decoration: none; color: inherit" asp-action="AddQuote">Submit a Quote</a></li>
</ul>
<div class="page-header text-center">
    <h1>"Are you not entertained?!"<br /><small>Maximus, <em>Gladiator</em></small></h1>
</div>
<h3>Results page</h3> 